#Username{
    margin-left:20px;
}

.username-picture {
    position: absolute;
    margin-top: 0;
    margin-right: 50px;
}

#btn-change-pwd {
    margin-top: 25px;
}

.profile-picture {
    position: absolute;
    width: 150px;
    height: 150px;
    margin-top: 10px
}

@media only screen and (max-width: 1100px) {
    .my-group {
        margin-right:10%;
    }
}

@media only screen and (max-width: 991px) {
    .my-group {
        margin-top:300px;
        margin-left:200px;
    }

    .username-picture {
        margin-left:100px;
    }

    h4{
        margin-right:260px;
    }

    .changeInfoLbl{
        margin-left:10px;
    }
}

@media only screen and (max-width: 991px) {
    .my-group {
        margin-top:300px;
        margin-left:0;
    }
}
