html {
    min-height: 100%
}

body {
    height: 100%
}

.container-fluid.contract-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.panel {
  width :60%;
  margin: 1rem;
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important
}

.text-primary {
    color: #858585 !important;
    font-size:25px;
}

.container, .container-fluid {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.previousCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.curContracts {
  text-align: center;
  font-size: 20px;
}

.boldInfo {
  color : #1CC88A;
  font-weight: bold;
}

.noContracts {
  color: #E4E6E6;
}

.marginspace {
  margin: 1rem;
  width: 30rem;
}
